{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

<a href="{{.RelPermalink}}" class="block relative overflow-hidden">
  {{ if $featured_image }} 
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}} 
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <img
    src="{{ $featured_image }}"
    class="w-full h-full transform transition duration-500 hover:scale-105"
    alt="image from {{ .Title }}"
  />
  {{ end }}
  <div
    class="
      absolute
      flex flex-col
      inset-0
      items-center
      justify-center
      bg-black bg-opacity-25
      pointer-events-none
    "
  >
    <h3 class="text-white text-3xl p-5 text-center">
      {{ .Title }}
    </h3>
  </div>
</a>
