{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="hover:scale-105">
          <a href="{{.RelPermalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img hover:scale-105" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="absolute w-100{{ if $featured_image }} w-60-ns pl3-ns{{ end }} justify-center">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.RelPermalink}}" class="text-white dim link justify-center">
            {{ .Title }}
            </a>
        </h1>
       </div>
    </div>
  </div>
</article>